

#title {
    background-color: yellow;
    color: darkolivegreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

h1 {
    background-color: pink;
    color: orangered;
    text-align: center;
}

li {
    color: green;
}

h3 {
    background: plum;
    color: blueviolet;
    font-size: 28px;
    text-align: center;
}

.bonus-text {
    color: lightseagreen;
    font-weight: bold;
}